@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-blue:  #009CDE;
  --brand-green: #43B02A;
  --brand-gray:  #58595B;
}

body {
  background-color: #F5F5F5;
  color: #2D2D2D;
}
